@media screen and (max-width:1300px) {
    /* .main{
        padding-left: 15px;
        padding-right: 15px;
    } */

    .header_funcbar {
        padding-left: 15px;
        padding-right: 15px;
    }

    .top_banner,
    .main_content .top_banner_two,
    .reservation,
    .reason {
        padding-left: 22px;
        padding-right: 22px;
    }

    .main_content_cartegory {
        padding-right: 22px;
        padding-left: 22px;
    }

    .header_nav {
        padding-left: 15px;
        padding-right: 15px;
    }

    .header_funcbar .logo_extra .payment {
        display: none;
    }

    .top_banner img {
        width: 100%;
    }

    .tabcontent_list_title img {
        width: 100%;
    }

    .tabcontent_list>img {
        width: 100%;
    }

    .footer_info {
        padding-left: 5vw;
    }

    .main_content .top_banner_two {
        display: block;
    }

    .main_content .top_banner_two img {
        width: 100%;
    }

    .feature_level1>div {
        width: 30vw;
    }

    .feature_img2 img {
        width: 30vw;
    }

    .reason .reason_img>div {
        width: 30vw;
    }

    .reason_img1 img {
        width: 30vw;
        height: auto;
    }

    .reason .reason_img {
        justify-content: center;
    }

    .feature_level1 {
        justify-content: center;
    }

    .feature_img1 img {
        width: 30vw;
        height: auto;
    }

    .feature_level2>div {
        width: 200px;
    }

    .feature_level2 {
        justify-content: center;
        padding-top: 0;
    }

    .feature_img3 img {
        width: 200px;
        height: auto;
    }

    .tabcontent_market table {
        display: none;
    }

    .major_price_list_left img {
        width: 113px;
        height: 113px;
    }

    .major_price_list_right img {
        width: 209px;
        height: 188px;
    }

    .major_price_list_left_view {
        width: 110px;
        height: 75px;
    }

    .s-11 {
        font-size: 9px;
        padding-bottom: 2px;
    }

    .s-7 {
        font-size: 5px;
    }

    .major_price_view {
        font-size: 10px;
        padding: unset;
        width: 89px;
        height: 22px;
    }

    .contact {
        padding-left: 22px;
        padding-right: 22px;
    }

    .contact_address_tel {
        display: block;
    }

    .contact .address {
        margin: auto;
    }

    .footer {
        padding-left: 22px;
        padding-right: 22px;
    }

    .reservation_left .reservation_button .reservation_button1 {
        padding: 12px 8px 12px 10px;
        gap: 4px;
    }

    .reservation_left .reservation_button .reservation_button2 {
        padding: 12px 8px 12px 10px;
        gap: 4px;
    }
}

@media screen and (max-width:1024px) {
    .main_button {
        position: absolute;
        bottom: 12%;
        left: 8%;
        z-index: 5000;
        color: #0034C5;
        padding: 4px 7px 4px 35px;
        background-color: white;
        font-family: LINE Seed JP_OTF;
        font-size: 13px;
        font-weight: bold;
        border-radius: 80px;
        gap: 20px;
    }
    .main_button img {
        padding-left: 14px;
    }
    .contact_address_tel {
        padding-right: 10px;
        padding-left: 20px;
    }

    .address .worktime {
        font-size: 12px;

    }

    .contact .address .p_1 {
        padding-right: 10px;
    }

    .main {
        padding-left: 0;
        padding-right: 0;
    }

    .header_nav {
        display: none;
    }

    .header_funcbar .logo_extra .phone_num {
        display: none;
    }

    .sidebar {
        display: none;
    }

    .allow_modal_sp {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;

    }

    .allow_modal_pc {
        display: none;
    }

    .footer_main {
        display: block;
    }

    .feature_level1>div {
        width: 39vw;
    }

    .feature_img2 img {
        width: 39vw;
    }

    .reason .reason_img>div {
        width: 39vw;
    }

    .reason_img1 img {
        width: 39vw;
        height: auto;
    }

    .feature_img1 img {
        width: 39vw;
        height: auto;
    }

    .footer_logo {
        display: flex;
        justify-content: center;
    }

    .footer_info {
        margin: auto;
        width: 72vw;
        padding-left: unset;
    }

    .footer_service {
        gap: 60px;
    }

    .sign {
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .signin {
        margin-top: 0;
    }
}

@media screen and (max-width:850px) {
    .reservation {
        display: block;
    }
}

@media screen and (max-width : 768px) {
    .graphy_pc {
        display: none;
    }
    .graphy {
        display: block;
    }
    .main_button {
        position: absolute;
        bottom: 12%;
        left: 8%;
        z-index: 5000;
        color: #0034C5;
        padding: 4px 7px 4px 35px;
        background-color: white;
        font-family: LINE Seed JP_OTF;
        font-size: 13px;
        font-weight: bold;
        border-radius: 80px;
        gap: 20px;
    }
    .social_cell_sp {
        display: block;
        justify-content: center;
        margin: auto;
        display: flex;
        gap: 16px;
        padding-top: 95px;
        padding-bottom: 192px;
    }

    .sign {
        display: none;
    }

    .signin {
        margin-top: 15px;
    }

    .header_funcbar .logo_extra .header_search {
        display: none;
    }

    .footer_service {
        gap: 30px;
    }

    .reason .reason_img {
        display: block;
    }

    .feature_level1 {
        display: block;
    }

    .feature_level2 {
        display: block;
    }

    .feature_level1>div {
        width: 100%;
    }

    .feature_img2 img {
        width: 100%;
    }

    .reason .reason_img>div {
        width: 100%;
    }

    .reason_img1 img {
        width: 100%;
    }

    .feature_img1 img {
        width: 100%;
    }

    .feature_level2>div {
        width: 100%;
    }

    .feature_img3 img {
        width: 100%;
    }

    .knowledge_level1 {
        justify-content: center;
    }

    .contact .address {
        display: block;
    }

    .address .line {
        display: none;
    }

    .address .tel {
        margin-left: 0px;
    }

    .contact_address {
        justify-content: center;
    }

    .address .button {
        display: flex;
        gap: 80px;
        padding-top: 40px;
    }

    .footer_block {
        display: block;
    }

    .footer_logo {
        display: flex;
        justify-content: center;
    }

    .footer_social {
        display: none;
    }

    .footer .social {
        display: none;
    }

    .footer_short {
        display: none;
    }

    .footer_cell {
        justify-content: space-between;
        gap: unset;
        display: flex;
        padding-top: 50px;
    }

    .footer_cell ul {
        list-style: none;
    }

    .footer_cell ul li {
        padding-top: 12px;
    }

    .footer_block .com {
        display: none;
    }

    .footer_block .cell {
        display: flex;
        justify-content: center;
    }

    .footer_block .sign_cell {
        display: block;
        padding-top: 32px;
    }

    .footer_service {
        display: none;
    }

    .partner_logo {
        justify-content: center;
    }


    .sign {
        display: none;
    }

    .footer_cloud {
        display: block;
    }

    .footer_cell img {
        width: 100%;
    }

    .user_ad>div {
        margin-left: 19vw;
    }

    .footer_cell ul li {
        font-size: 12px;
    }

    .signup {
        font-size: 12px;
    }

    .signin {
        font-size: 12px;
    }

    .partner_logo {
        justify-content: space-between;
    }

    .partner_logo .logo3 {
        width: 40px;
        height: 40px;
    }

    .partner_logo .logo1 {
        width: 65px;
        height: 44px;
    }

    .partner_logo .logo2 {
        width: 47px;
        height: 39px;
    }

    .partner_logo .logo4 {
        width: 79px;
        height: 45px;
    }

    .group .group1 {
        width: 75px;
        height: 10px;
    }

    .group .group2 {
        width: 74px;
        height: 14px;
    }

    .group .group3 {
        width: 86px;
        height: 10px;
    }

    .group .group4 {
        width: 39px;
        height: 25px;
    }

    .group {
        padding-left: 0;
        width: 100%;
        padding-top: 37px;
        gap: unset;
    }

    .reservation_left .reservation_button .reservation_button1 {
        font-size: 10px;
    }

    .reservation_left .reservation_button .reservation_button2 {
        font-size: 10px;
    }

    .footer_info {
        width: 100%;
    }
    .reservation {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width : 425px) {
    .main_arrow_pc {
        display: none;
    }
    .main_arrow_sp {
        display: block;
    }
    .main_button {
        position: absolute;
        bottom: 10%;
        left: 8%;
        z-index: 5000;
        color: #0034C5;
        padding: 15px 128px;
        background-color: white;
        font-family: LINE Seed JP_OTF;
        font-size: 17px;
        font-weight: bold;
        border-radius: 3px;
    }
    .header_funcbar {
        display: none;
    }
    .header_funcbar_sp {
        width: 100%;
        display: block;
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
    }
    .main_button img {
        padding-left: 14px;
        display: none;
    }
    .partner_logo {
        gap: 0;
    }

    .footer {
        padding-left: 34px;
        padding-right: 34px;
    }

    .tabcontent ul {
        gap: 15px;
    }

    .ranking_group {
        gap: 10px;
    }

    .ranking_group li {
        width: 74px;
    }

    .ranking_group li img {
        width: 74px;
        height: 74px;
    }

    .ranking_group li .price {
        font-size: 12px;
    }

    .ranking_group li .ranking_level img {
        width: 12px;
        height: 8px;
    }

    .ranking_group_new {
        gap: 10px;
    }

    .ranking_group_new .li {
        width: 74px;
    }

    .ranking_group_new .li img {
        width: 74px;
        height: 74px;
    }

    .ranking_group_new .li .price {
        font-size: 12px;
    }

    .ranking_group_new .li .ranking_level img {
        width: 12px;
        height: 8px;
    }

    .ranking_discription {
        font-size: 10px;
    }

    .ranking_discription {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 50px;
    }

    .ranking_level {
        font-size: 8px;
        width: 73px;
        height: 16px;
    }

    .tabcontent ul li {
        font-size: 10px;
    }

    .tab button {
        padding: 7px 5px;
        font-size: 12px;
    }

    .main_content_cartegory .title_b {
        font-size: 24px;
    }

    .main_content_cartegory .title_s {
        font-size: 10px;
    }

    .tab_market button {
        font-size: 11px;
        padding: 7px 8px;
    }

    .reservation_right {
        display: none;
    }

    .allow_modal {
        display: none;
    }

    .footer_cloud img {
        width: 375px;
    }

    .reason .p_1 {
        font-size: 11px;
        padding-bottom: 20px;
    }

    .reason .p_2 {
        font-size: 15px;
    }

    .reason .p_1 {
        padding: 10px 0 4px 0;
    }

    .reason_img .text {
        padding-bottom: 37px;
        font-size: 12px;
    }

    .feature_description {
        font-size: 12px;
        font-family: LINE Seed JP_OTF;
        padding-bottom: 39px;
    }

    .feature_img3 img {
        width: 100%;
        height: auto;
    }

    .user_ad {
        background-image: url(../images/user_ad_cell.png);
    }

    .user_ad>div {
        margin-left: 0;
    }

    .knowledge_level1 {
        justify-content: space-between;
        gap: 20px;
        padding-top: 0;
    }

    .knowledge_level1>div {
        width: 154px;
        gap: 14px;

    }

    .knowledge_level1>div>img {
        width: 154px;
        height: auto;
    }

    .contact {
        padding-top: 64px;
        background-color: #F4F4F7;
        padding-left: 34px;
        padding-right: 34px;
    }

    .contact_title_br {
        display: block;
    }

    .contact_main .title {
        font-size: 18px;
        font-family: LINE Seed JP_OTF;
        font-weight: bold;
        color: #333333;
        text-align: center;
    }

    .contact_main .location a {
        font-size: 18px;
        font-weight: bold;
        font-family: LINE Seed JP_OTF;
        color: #FFFFFF;
        background-color: #062D98;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 330px;
        height: 70px;
        gap: 10px;
        border-radius: 8px;
    }

    .address .worktime {
        padding-left: 0px;
        font-size: 11px;
    }

    .address .button {
        gap: 20px;
        justify-content: space-between;
    }

    .ranking_group .arrival_feature {
        display: flex;
        height: 18px;
        width: 88px;
    }

    .reason {
        border-top: 1px solid #ffffff;
    }

    .reservation_cell {
        display: block;
        width: 100%;
        height: auto;
    }

    .footer {
        background-image: url(../images/footer_back_sp.png);
    }

    .partner_logo {
        justify-content: space-between;
    }

    .partner_logo .logo3 {
        width: 40px;
        height: 40px;
    }

    .partner_logo .logo1 {
        width: 65px;
        height: 44px;
    }

    .partner_logo .logo2 {
        width: 47px;
        height: 39px;
    }

    .partner_logo .logo4 {
        width: 79px;
        height: 45px;
    }

    .group .group1 {
        width: 75px;
        height: 10px;
    }

    .group .group2 {
        width: 74px;
        height: 14px;
    }

    .group .group3 {
        width: 86px;
        height: 10px;
    }

    .group .group4 {
        width: 39px;
        height: 25px;
    }

    .group {
        padding-left: 0;
        width: 100%;
        padding-top: 37px;
        gap: unset;
    }

    .footer_main {
        padding-top: 35px;
    }

    .footer_partner {
        padding-top: 48px;
    }

    .partner_logo {
        padding-top: 19px;
    }

    .footer_group {
        padding-top: 54px;
    }

    .header_funcbar .logo img {
        display: none;
    }

    .address .b_1 {
        width: 150px;
    }

    .address .b_2 {
        width: 118px;
    }

    .contact_main .location a {
        width: 300px;
    }

    .contact .address .p_1 {
        font-size: 14px;
        padding-bottom: 9px;
    }

    .tabcontent ul li {
        width: 70px;

    }

    .tabcontent ul li img {
        width: 70px;
        height: 70px;
    }

    .tabcontent_list_title p {
        font-size: 12px;
    }

    .tabcontent_list_title .chart-line {
        width: 11px;
        height: 11px;
    }

    .qst-symbol {
        font-size: 8px;
    }

    .reservation_left .p_2 {
        font-size: 15px;
        padding-top: 9px;
        padding-bottom: 15px;
    }

    .reservation_left .p_1 {
        font-size: 11px;
    }

    .reservation_left .p_3 {
        padding-top: 18px;
        font-size: 12px;
    }

    .reservation_left .check_p {
        font-size: 13px;
        padding-top: 9px;
    }

    .reservation_left .check_p img {
        width: 15px;
        height: 15px;
    }

    .reservation_left .reservation_button {
        padding-top: 24px;
        justify-content: space-between;
    }

    .reservation_left .reservation_button .reservation_button1 {
        font-size: 10px;
    }

    .reservation_left .reservation_button .reservation_button2 {
        font-size: 10px;
    }

    .pre_price {
        font-size: 12px;
    }

    .tax {
        font-size: 6px;
    }

    .coin_new {
        font-size: 7px;
    }

    .coin_main {
        font-size: 7px;
    }

    .coin_sale,
    .coin_limite,
    .arrival_level {
        display: none;
    }

    .user_ad .user_ad_title {
        font-size: 18px;
        padding-top: 37px;
        padding-bottom: 10px;
    }

    .user_ad .user_ad_text {
        font-size: 12px;
        width: 195px;
    }

    .user_ad_button {
        width: 158px;
        height: 38px;
    }

    .user_ad {
        justify-content: start;
        padding-left: 22px;
    }

    .gold_coin_brand {
        font-size: 7px;
        width: 68px;
    }

    .basic_brand {
        font-size: 7px;
    }

    .footer_partner p {
        font-size: 20px;
    }

    .footer_group p {
        font-size: 20px;
    }

    .contact_address_tel {
        padding-left: 0;
        padding-right: 0;
    }

    .main_pc {
        display: none !important;
    }

    .main_sp {
        display: block !important;
    }


}

@media screen and (max-width : 375px) {
    .main_button {
        position: absolute;
        bottom: 10%;
        left: 8%;
        z-index: 5000;
        color: #0034C5;
        padding: 16px 118px;
        background-color: white;
        font-family: LINE Seed JP_OTF;
        font-size: 13px;
        font-weight: bold;
        border-radius: 3px;
    }
}